@import '../../index.scss';

.newsItemContainer {
  display: flex;
  @include cart-border();
  padding: 8px;
  margin: 5px 0;
}

.newsContent {
  width: 80%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.NewsFooter {
  display: flex;
  justify-content: space-between;
  span {
    color: $date-color;
  }

  a {
    font-size: 12px;
    text-decoration: none;
    color: $date-color;
  }
  a:hover {
    color: $primary-color;
  }
}

@mixin imageContainer($width, $height, $padding) {
  .imageContainer {
    width: $width;
    height: $height;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (min-width: 960px) {
  @include imageContainer(20%, 150px, 20px);
}

@media only screen and (max-width: 960px) {
  @include imageContainer(100%, 200px, 0);
  .newsItemContainer {
    flex-direction: column;
  }
  .NewsFooter {
    margin-bottom: 10px;
  }
  .newsContent {
    margin-left: 0;
  }
}
